.Rproj.user
.Rhistory
.RData
.Ruserdata
src
metrics
metrics_new
FASTQ
bw
bam_dedup
R/betaRegs_Te_nocimpCRCsVsNorm
R/hadiAnalysis
R/hadiFigs
R/myFigs
R/recycle_scripts
*.Rmd
*.html
*.xml
bash/picard
Data/notused_data
